@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Greeting, world !
        <p>We are going to have an exciting party. (Make it better) </p>
    </div>
    @Html.ActionLink("RSVP now", "RsvpForm");
</body>
</html>
